:root {
  --primary-color: #7c3cfc;
  --secondary-color: #f6f6f6;
  --border-radius: 8px;
}

html,
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

::selection {
  background: #e2dbff; /* WebK#bdadffit/Blink Browsers */
}
::-moz-selection {
  background: #e2dbff; /* Gecko Browsers */
}

.label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.inline-label {
  font-size: 15px;
  color: #747474;
}

.input {
  border: none;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: var(--border-radius);
  background: #f3f3f4;
  border: 1px solid #f3f3f4;
  outline: none;
}

.input:hover {
  transition: all 250ms;
  box-shadow: 0 0 0px 5px #e7e1ff99;
  border-color: #d0d0d0;
  background: white;
}

.input:active {
  position: relative;
  top: 1px;
  transform: scale(1);
}

.input:focus {
  border-color: var(--primary-color);
  background: white;
  box-shadow: 0 0 0px 5px #e7e1ff99;
}

.toggle-control {
  position: relative;
  display: inline-block;
  background-color: #e7e7e9;
  width: 38px;
  height: 22px;
  cursor: pointer;
  border-radius: 20px;
  transition: all ease 0.3s;
}

.toggle-control.active {
  background-color: hsla(253, 100%, 93%, 1);
}

.toggle-control:after {
  position: absolute;
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  top: 4px;
  left: 4px;
  background-color: #9e9ea7;
  transition: all ease 0.3s;
}

.toggle-control.active:after {
  left: auto;
  right: 4px;
  background-color: var(--primary-color);
}

.button {
  width: auto;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  transition: transform 200ms;
}

.button:hover {
  transform: scale(1.025);
}

.button:active {
  position: relative;
  top: 2px;
  box-shadow: none;
}

.button-primary {
  background: var(--primary-color);
  box-shadow: 0px 3px 6px -1px hsla(260, 97%, 10%, 0.65);
  color: white;
}

.button-secondary {
  background: var(--secondary-color);
  box-shadow: 0px 3px 6px -1px hsla(0, 0%, 0%, 0.14);
}

.button-hollow {
  border: 3px solid var(--primary-color);
  box-sizing: border-box;
  padding: 7px 20px;
  color: var(--primary-color);
  box-shadow: 0px 3px 6px -1px hsla(260, 97%, 10%, 0.35);
  background: #f9f9f9;
}

.button-simple {
  color: var(--primary-color);
}

/* RANGE */

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  background: #e7e7e9;
  border-radius: 10px;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  background: #e7e7e9;
  border-radius: 10px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background: var(--primary-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background: var(--primary-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

/* RANGE end */

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
