.sisu-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin-top: -140px;
}

.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
