.sisu-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin-top: -140px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.email-me-button {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 13px;
  display: flex;
  align-items: center;
  padding: 5px 9px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 200ms;
}

.email-me-button:hover {
  background: white;
}

.email-me-button img {
  width: 15px;
  margin-right: 5px;
}

.input:focus + .email-me-button {
  background: white;
}
